* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.tbox {
  margin: 10px auto;
  text-align: center;
}
@keyframes title {
  to {
    background-position: 200%;
  }
}
.swiper-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#movieBoard {
  margin: 0 auto;
}
.imgBox {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.imgBox p {
  position: absolute;
  color: #fff;
  opacity: 0;
}
.imgBox .avg {
  width: 20%;
  font-size: 12px;
  top: 10px;
  right: 0;
  transition: 400ms;
}
.imgBox .avg span {
  color: orange;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h3 {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 10px;
  font-weight: normal;
  font-size: 12px;
  opacity: 0;
  transition: 400ms;
}
.imgBox:hover p,
.imgBox:hover h3 {
  opacity: 1;
}
.swiper {
  width: 240px;
  height: 320px;
}
.mySwiper {
  touch-action: none;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-weight: bold;
  color: #fff;
  position: relative;
}

.backLight {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(253, 253, 158);
  left: 0;
  top: 0;
  filter: blur(8px);
  animation: light 800ms linear infinite;
}
@keyframes light {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.8;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
.tbox {
  display: flex;
  height: 28px;
  overflow: hidden;
  opacity: 0.6;
}
.tbox div {
  display: flex;
  flex-direction: column;
  align-items: start;
  animation: tik 3s ease-in infinite;
}
@keyframes tik {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-24px);
  }
}
.tbox div span {
  color: #fff;
  line-height: 100%;
  font-size: 24px;
  font-weight: bold;
  height: 28px;
  background: linear-gradient(
    135deg,
    #ffd54b,
    #ffdd6c,
    #f4a261,
    #f4a261,
    #ffd54b
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: title 2.5s linear infinite;
}
.tbox .t2 {
  animation-delay: 600ms;
}
.tbox .t3 {
  animation-delay: 1000ms;
}
.tbox .t4 {
  animation-delay: 1400ms;
}
.tbox .t5 {
  animation-delay: 1800ms;
}
